{extend name="layouts:base2" /}

{block name="main"}
<body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">新闻中心</a>
        <a>
          <cite>视频专区</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <blockquote class="layui-elem-quote"><i class="layui-icon x-show" status='true'>&#xe623;</i>排序:数值越大越靠前展示</blockquote>
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
         <button class="layui-btn" onclick="x_admin_show('添加视频','{:url(\'admin/Movie/add\')}',700,600)"><i class="layui-icon"></i>添加</button>
         <a class="layui-btn" href="javascript:;" id="npx">排序</a>
        <span class="x-right" style="line-height:40px">共有数据：88 条</span>
      </xblock>
      <table class="layui-table layui-form">
        <thead>
          <tr>
            <th width="20">
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th width="70">ID</th>
            <th>视频标题</th>
            <th>视频地址</th>
            <th>创建时间</th>
            <th width="50">排序</th>
            <th width="50">状态</th>
            <th width="220">操作</th>
        </thead>
        <tbody class="x-cate">
          {volist name="movies" id="movie"}
          <tr cate-id='5' fid='0' >
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$movie.id}'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>{$movie.id}</td>
            <td>├{$movie.title}</td>
            <td>{$movie.src}</td>
            <td>{$movie.create_time}</td>
            <td><input type="text" class="layui-input x-sort npxs" name="npx[{$movie.id}]" value="{$movie.npx}" data-id='{$movie.id}'></td>
            <td>
              <input type="checkbox" name="switch"  lay-text="开启|停用"  {eq name="$movie.status" value="1"}checked=""{/eq} lay-skin="switch" lay-filter="switchTest" data-id="{$movie.id}">
            </td>
            <td class="td-manage">
              <button class="layui-btn layui-btn layui-btn-xs"  onclick="x_admin_show('编辑','{:url(\'admin/Movie/update\',[\'id\'=>$movie.id])}')" ><i class="layui-icon">&#xe642;</i>编辑</button>
              <button class="layui-btn-danger layui-btn layui-btn-xs"  onclick="member_del(this,'{$movie.id}')" href="javascript:;" ><i class="layui-icon">&#xe640;</i>删除</button>
            </td>
          </tr>
          {/volist}
        </tbody>
      </table>
    </div>
      <div class="page">
        {$movies|raw}
      </div>
    <style type="text/css">
      
    </style>
    <script>
      layui.use(['form'], function(){
        form = layui.form;

        //监听指定开关
        form.on('switch(switchTest)', function(data){
          var id = $(this).attr('data-id');
          var status;
          if(this.checked){
            status = 1;
          }else{
            status = 0;
          }
          var url = '{:url("admin/Movie/status")}';
          $.post(url,{'id':id,'status':status});
        });
        
      });

      

      /*用户-删除*/
      function member_del(obj,id){

          layer.confirm('确认要删除吗？',function(index){
              if(index){
                var url = '{:url("admin/Movie/del")}';
                $.post(url,{'id':id},function(result){
                  if(result.code){
                    //发异步删除数据
                    $(obj).parents("tr").remove();
                    layer.msg(result.msg,{icon:1,time:1000});
                  }
                },'JSON')
              }
          });
      }



      function delAll (argument) {

        var data = tableCheck.getData();
  
        layer.confirm('确认要删除吗？',function(index){
            if(index){
              var url = '{:url("admin/Movie/delAll")}';
              $.post(url,{'ids':data},function(result){
                if(result.code){
                  //捉到所有被选中的，发异步进行删除
                  layer.msg('删除成功', {icon: 1});
                  $(".layui-form-checked").not('.header').parents('tr').remove();
                }
              },'JSON')
            }
        });
      }
    </script>
<script>
  $("#npx").click(function(){
    var data = {};
    $('.npxs').each(function(){
      data[$(this).attr('data-id')] = $(this).val();
    })
    var url = '{:url("admin/Movie/npx")}';
    $.post(url,data,function(result){
      if(result.code){
        layer.msg(result.msg, {icon: 1});
      }
    },'JSON');
  })
</script>
</body>

{/block}