{extend name="layouts:base2" /}

{block name="main"}
<body>
    <div class="x-body">
        <form class="layui-form" action="{:url('admin/Car/updateDo')}" enctype="multipart/form-data" method="post">
      
          <input type="hidden" name="id" value="{$car.id}">
          <div class="layui-form-item">
		    <label class="layui-form-label">车辆名称</label>
		    <div class="layui-input-block">
		      <input type="text" name="name" lay-verify="title" autocomplete="off" class="layui-input" value="{$car.name}">
		    </div>
		  </div>

      <div class="layui-form-item">
        <label class="layui-form-label"><span class="x-red">*</span>描述(首页置顶)</label>
        <div class="layui-input-block">
          <input type="text" name="best" lay-verify="title" autocomplete="off" class="layui-input" value="{$car.best}">
        </div>
      </div>


          <div class="layui-form-item">
		    <label class="layui-form-label">描述1(高度)</label>
		    <div class="layui-input-block">
		      <input type="text" name="hight" lay-verify="title" autocomplete="off" class="layui-input" value="{$car.hight}">
		    </div>
		  </div>


           <div class="layui-form-item">
		    <label class="layui-form-label">描述2(中心)</label>
		    <div class="layui-input-block">
		      <input type="text" name="center" lay-verify="title" autocomplete="off" class="layui-input" value="{$car.center}">
		    </div>
		  </div>

          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>产品特点
              </label>
              <div class="layui-input-inline">
                  <!-- 加载编辑器的容器 -->
                  <script id="container" name="desc1" type="text/plain">
                      这里写你的初始化内容
                  </script>
              </div>
          </div>

          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>技术参数
              </label>
              <div class="layui-input-inline">
                  <!-- 加载编辑器的容器 -->
                  <script id="container2" name="desc2" type="text/plain">
                      这里写你的初始化内容
                  </script>
              </div>
          </div>

           <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">案例描述</label>
            <div class="layui-input-block">
              <textarea placeholder="请输入内容" class="layui-textarea" name="example">{$car.example}</textarea>
            </div>
          </div>

          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>叉车分类
              </label>
              <div class="layui-input-inline">
                    <select name="cate_id" lay-verify="">
					    <option value="">请选择...</option>
					    {volist name="cates" id="cate"}
					    <option value="{$cate.id}" {eq name="$cate.id" value="$car.cate_id"}selected{/eq}>{$cate.name}</option>
					    {/volist}
				    </select> 
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>请选择叉车分类
              </div>
          </div>

          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>排序
              </label>
              <div class="layui-input-inline">
                 <input type="text" id="username" name="npx" required="" lay-verify="required"
                  autocomplete="off" class="layui-input" value="{$car.npx}">
              </div>
          </div>

          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>旧图片
              </label>
              {volist name="car.pics" id='pic'}
              <div class="layui-input-inline">
	              <img src="{$pic}" width="200" style="display: float">
              </div>
               {/volist}
          </div>

          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>展示图片
              </label>
              <div class="layui-input-inline">
                 <div class="layui-upload">
                    <button type="button" class="layui-btn" id="test2">多图片上传</button> 
                    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                      预览图：
                      <div class="layui-upload-list" id="demo2"></div>
                      <input type="hidden" name="pics" id="pics">
                   </blockquote>
                </div>
              </div>
          </div>

          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <input type="submit" value="修改" class="layui-btn">
          </div>
      </form>
    </div>
    <script>
        layui.use(['form','layer','upload'], function(){
          $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer
          ,upload = layui.upload;
        
          //自定义验证规则
          form.verify({
            nikename: function(value){
              if(value.length < 5){
                return '昵称至少得5个字符啊';
              }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
          });

          var urls = '';

          //多图片上传
          upload.render({
            elem: '#test2'
            ,url: '{:url("admin/Image/upload")}'
            ,multiple: true
            ,before: function(obj){
              //预读本地文件示例，不支持ie8
              obj.preview(function(index, file, result){
                $('#demo2').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img" width="200" style="display:inline">')
              });
            }
            ,done: function(res){
              //上传完毕
              console.log(res);
              urls += '@@@' + res.data.url;
              $("#pics").val(urls);
            }
          });



          //监听提交
          form.on('submit(add)', function(data){
            console.log(data);
            //发异步，把数据提交给php
            layer.alert("增加成功", {icon: 6},function () {
                // 获得frame索引
                var index = parent.layer.getFrameIndex(window.name);
                //关闭当前frame
                parent.layer.close(index);
            });
            return false;
          });
          
          
        });
    </script>
<!-- 配置文件 -->
<script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('container',{
      initialFrameWidth:1190
    });
    ue.ready(function() {
        //设置编辑器的内容
        ue.setContent('{$car.desc1|raw}');
        //获取html内容，返回: <p>hello</p>
        var html = ue.getContent();
    });
</script>

<script type="text/javascript">
    var ue2 = UE.getEditor('container2',{
      initialFrameWidth:1190
    });
    ue2.ready(function() {
        //设置编辑器的内容
        ue2.setContent('{$car.desc2|raw}');
        //获取html内容，返回: <p>hello</p>
        var html = ue2.getContent();
    });
</script>
</body>
{/block}