{extend name="layouts:base2" /}

{block name="main"}
 <body>
    <div class="x-body">
        <form class="layui-form">
          <input type="hidden" name="id" value="{$team.id}">
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>标题
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="username" name="title" required="" lay-verify="required"
                  autocomplete="off" class="layui-input" value="{$team.title}">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="phone" class="layui-form-label">
                  <span class="x-red">*</span>图片
              </label>
              <div class="layui-input-inline">
                    <div class="layui-upload">
						<button type="button" class="layui-btn" id="test1">上传图片</button>
						<div class="layui-upload-list">
						    <img class="layui-upload-img" id="demo1" width="200" src="{$team.content}">
						    <p id="demoText"></p>
						    <input type="hidden" name="content" id="pic">
						</div>
				    </div>
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  修改
              </button>
          </div>
      </form>
    </div>
    <script>
        layui.use(['form','layer','upload'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer
          ,upload = layui.upload;
        
          //自定义验证规则
          form.verify({
            nikename: function(value){
              if(value.length < 5){
                return '昵称至少得5个字符啊';
              }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
          });

          //普通图片上传
  var uploadInst = upload.render({
    elem: '#test1'
    ,url: '{:url("admin/Image/upload")}'
    ,before: function(obj){
      //预读本地文件示例，不支持ie8
      obj.preview(function(index, file, result){
        $('#demo1').attr('src', result); //图片链接（base64）
      });
    }
    ,done: function(res){
      //如果上传失败
      if(res.code > 0){
        return layer.msg('上传失败');
      }
      //上传成功
      $("#pic").val(res.data.url);
    }

  });

          //监听提交
          form.on('submit(add)', function(data){
            var dataPost = data.field;
            //发异步，把数据提交给php
            var url = '{:url("admin/About/teamUpdatedo")}';
            $.post(url,dataPost,function(result){
            	if(result.code){
	                layer.alert("修改成功", {icon: 6},function () {
	                // 获得frame索引
	                var index = parent.layer.getFrameIndex(window.name);
	                //关闭当前frame
	                parent.layer.close(index);
                  });
            	}
            },'JSON');

            return false;
          });
          
          
        });
    </script>
</body>

{/block}